* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.pfp {
    width: 35px;
    height: 35px;
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 96%;
}

body {
    margin: 0;
    background-image: url(../images/personalLibBG.png);
    color: #2b1b4f;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #DCC7FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    transition: filter 0ms ease-in-out 300ms;
}

.navbar {
    background-color: #DCC7FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

nav a {
    color: #3e2b66;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

.homeNav {
    position: absolute;
    left: 65.3%;
}

.artNav {
    position: absolute;
    left: 70.1%;
}

.gallNav {
    position: absolute;
    left: 77.1%;
}

.libNav {
    position: absolute;
    left: 82.2%;
}

.favNav {
    position: absolute;
    left: 87%;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 120px;
    position: absolute;
    left: 1%;
}

.accOverlay {
    position: absolute;
    left: 80.6%;
    top: 60%;
    width: 270px;
    height: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    z-index: 100;
}

.close-btn {
    background-color: #CCAFFD;
    border: none;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    top: 3.5%;
    left: 4%;
}

.close-btn:hover {
    cursor: pointer;
}

.pfpOverlay {
    border-radius: 100%;
    width: 100px;
    position: absolute;
    left: 32.7%;
    top: 10%;
}

.changePfp {
    background-color: #CCAFFD;
    border: none;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    left: 62%;
    top: 41%;
}

.changePfp:hover {
    cursor: pointer;
}

.accOverlay h2 {
    color: #583F83;
    font-weight: bold;
    position: center;
    padding-top: 100px;
    padding-left: 5px;
    text-align: center;
}

.accOverlay p {
    color: #7757ae77;
    font-weight: bold;
    position: center;
    text-align: center;
    font-size: 14px;
}

.logOutOverlay {
    border-radius: 6px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 74%;
    left: 13%;
    color: white;
    background-color: rgba(119, 85, 176, 1);
    border: none;
    font-weight: bold;
    letter-spacing: 1.1px;
    transition: all 0.3s ease;
}

.logOutOverlay:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

body.active-accOverlay .header {
    filter: blur(5px);
    background: rgba(0,0,0,0.08);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-accOverlay .accOverlay {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.intro {
    position: relative;
}

.title {
    position: absolute;
    top: -130px;
    left: 645px;
    font-size: 5rem;
    color: #583F83;
}

aside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-top: 150px;
    padding-top: 15px;
    padding-left: 12px;
}

.card {
    display: flex;
    background-color: #DCC7FF;
    border: 2px solid #7757AE;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-decoration: none;
    color: #2b1b4f;
    overflow: hidden;
    width: 260px;
    height: 415px;
    align-items: center;
}

.card {
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: none;
    margin: none;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookDetails {
    position: relative;
    left: 5px;
    text-align: center;
    font-weight: bold;
}