* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.background-rectangle {
    background: linear-gradient(to bottom, #ccaffd 50%, white 50%);
    height: 100vh;
    margin: 0;
}

.logo {
    width: 350px;
    height: auto;
    position: absolute;
    top: -5%;
    left: 38.45%;
}

.form-container {
    width: 680px;
    height: 440px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.344);
    position: absolute;
    text-align: center;
    top: 34%;
    left: 27.5%;
}

h2 {
    font-size: 1.68rem;
    font-weight: 10rem;
    letter-spacing: 1.5px;
    color: rgba(88, 63, 131, 1);
    position: absolute;
    top: 2.8%;
    left: 31.23%;
    font-weight: 800px;
}

.tabs {
    padding-top: 80px;
    padding-bottom: 20px;
}

#login-tab {
    position: relative;
    width: 590px;
    height: 59px;
    padding-left: 105px;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
    color: rgb(60, 43, 90);
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, rgba(0, 0, 0, 0.45), rgba(204, 175, 253, 0.6)) border-box;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#login-tab:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#signup-tab {
    border-radius: 6px;
    position: absolute;
    width: 300px;
    height: 57px;
    top: 18.5%;
    left: 49.5%;
    background: linear-gradient(90deg, #bda9dd, #7755b0);
    border: none;
    cursor: pointer;
    color: #fff;
}

.username {
    border-radius: 6px;
    position: absolute;
    width: 288px;
    height: 45px;
    top: 35%;
    left: 6.5%;
    border-color: rgba(204, 175, 253, 0.6);
    text-indent: 20px;
}

.name {
    border-radius: 6px;
    position: absolute;
    width: 290px;
    height: 45px;
    top: 35%;
    left: 50.9%;
    border-color: rgba(204, 175, 253, 0.6);
    text-indent: 20px;
}

.password {
    border-radius: 6px;
    width: 592px;
    height: 45px;
    position: absolute;
    top: 46.7%;
    left: 6.4%;
    border-color: rgba(204, 175, 253, 0.6);
    text-indent: 20px;
}

.confirmPassword {
    border-radius: 6px;
    width: 592px;
    height: 45px;
    position: absolute;
    top: 58.7%;
    left: 6.4%;
    border-color: rgba(204, 175, 253, 0.6);
    text-indent: 20px;
}

.signUpButton {
    border-radius: 6px;
    width: 590px;
    height: 59px;
    position: absolute;
    top: 74%;
    left: 6.4%;
    color: white;
    background-color: rgba(119, 85, 176, 1);
    border: none;
    font-weight: bold;
    letter-spacing: 1.1px;
    transition: all 0.3s ease;
}

.signUpButton:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.redirect {
    font-size: 16px;
    position: absolute;
    top: 89%;
    left: 27%;
}

.redirect a {
    font-size: 16px;
    left: 103%;
    display: inline-block;
    text-decoration: none;
}

.redirect a:hover {
    text-decoration: underline;
}